<div class="container">

  <div class="container mt-5">
    <h1>Graficos dinamicos <small>Angular</small> Pie</h1>
    <hr>

    <app-pie></app-pie>
  </div>

  <div class="container mt-5">
    <h1>Graficos dinamicos <small>Angular</small> Radar</h1>
    <hr>

    <app-radar></app-radar>
  </div>

  <div class="container mt-5">
    <h1>Graficos dinamicos <small>Angular</small> dona</h1>
    <hr>

    <app-dona></app-dona>
  </div>

  <div class="container mt-5">
    <h1>Graficos dinamicos <small>Angular</small> Linea</h1>
    <hr>

    <app-linea></app-linea>
  </div>

  <div class="container mt-5">
    <h1 >Graficos dinamicos <small>Angular</small> Barra</h1>
    <hr>
    <app-barra></app-barra>
  </div>

  


</div>