<div>
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary mr-1" mat-button mat-raised-button (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
    <button class="btn btn-primary mr-1" mat-button mat-raised-button (click)="changeLabels()">Change Labels</button>
    <button class="btn btn-primary mr-1" mat-button mat-raised-button (click)="addSlice()">Add Slice</button>
    <button class="btn btn-primary mr-1" mat-button mat-raised-button (click)="removeSlice()">Remove Slice</button>
    <button class="btn btn-primary mr-1" mat-button mat-raised-button (click)="changeLegendPosition()">Change Legend Position</button>